<%- include('../partials/admin_headside') %>
<section>
  <div class="container">
   <a href="/admin/add-banner"><button type="button" class="btn btn-primary  my-3" style="float: right;">Add Banner</button></a> 
  </div>
  
</section>
<section>
  <% if (message) { %>
    <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
      <strong><%= message.message %> </strong>
    </div> 
    <% } %>
  <div class="container">
    <table class="table table-success table-striped" id="userTable">
      <% if(banners !='') {%>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
         
          <% banners.forEach((row,index) => { %>
            <tr class="align-middle">
              <th scope="row"><%=index+1 %></th>
              <td><img style="height: 50px; width: 50px;" class="img-thumbnail" src="/uploads/<%= row.image%>" ></td>
              <td><%= row.name %></td>
              <td><%= row.description %></td>
              <td>
                <a href="/admin/edit-banner/<%= row._id %>" class="text-success"><button type="button" class="btn btn-info" style="width: 70px;">Edit</button></i></a>

                <% if(row.deleted == true) {%>
                  <a href="/admin/list-banner/<%= row._id %>" class="text-danger"><button type="button" class="btn btn-secondary mt-2" style="width: 70px;">Enable</button></a>
                  <%} else { %>
                  <a href="/admin/unlist-banner/<%= row._id %>" class="text-danger"><button type="button" class="btn btn-warning mt-2" style="width: 70px;">Disable</button></a>
                  <% } %>
                  <a href="/admin/delete-banner/<%= row._id %>" class="text-danger"><button type="button" class="btn btn-danger mt-2" style="width: 70px;">Delete</button></i></a>
                <!-- <a href="/admin/delete_product/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a> -->
              </td>
            </tr>
            <% }) %>
        </tbody>
        <% } else { %>
          <h1 class="text-center text-secondary mt-5">No banners found in the database</h1>
        <% } %>
    </table>
  </div>
</section>