<%- include('../partials/admin_headside') %>

<section>
  <% if (message) { %>
    <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
      <strong><%= message.message %> </strong>
    </div> 
    <% } %>
  <div class="container mt-4">
    
    <div class="row">
      
      <div class="col-md-6  mx-4">
        <form action="/admin/edit-product/<%= product._id %>" method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
          <label for="name">Enter product name</label>
          <input type="text" name="name" value="<%= product.name %>" class="form-control" required>
          <label for="description">Enter product description</label>
          <input type="text" name="description" value="<%= product.description %>" class="form-control" required>
          <label for="category" style="display: block;">Enter category</label>
             
            <select name="category" class="text-capitalize" id="catform" style="display: block; width:100%; border: none;">
              
              <option value="<%= product.category._id %>" class="text-capitalize"><%= product.category.name %></option>
              <% categories.forEach((category)=> { %>
                <% if (category.deleted === false){ %>
              <option value="<%= category._id %>" class="text-capitalize"><%= category.name %></option>
              <% } %>
               
              <% }) %>
            </select>
           
          <label for="lprice">Enter listing price</label>
          <input type="number" name="listing_price" id="lp" value="<%= product.listing_price %>"  class="form-control" required>
          <label for="sprice">Enter selling price</label>
          <input type="number" name="selling_price" id="sp" value="<%= product.selling_price %>"  class="form-control" required>
          <label for="scount" >Enter stock count</label>
          <input type="number"  id="amountInput" name="stock_count" value="<%= product.stock_count %>"  class="form-control" required>
          <label for="uploadimage">Upload images</label>
          <input type="file" name="images" id="file-input" class=" form-control" accept= 'image/*' multiple>
          <% for (let i=0; i< product.images.length;i++){ %>
          <img src="/uploads/<%= product.images[i] %>" width="100" class="img-thumbnail mt-1">
          <% } %>
          <div class="previewImages"></div>
          <button type="submit" class="btn btn-primary mt-4" style="display:block;">Update Product</button>
          
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    let imgPreview = function(input,imagePlace){
      if(input.files){
        let allFiles = input.files.length
        for(i=0;i<allFiles;i++){
          let reader = new FileReader()
          reader.onload = function(event){
            $($.parseHTML("<img>")).attr("src",event.target.result).appendTo(imagePlace)
          }
          reader.readAsDataURL(input.files[i])
        }
      }
    }
    $("#file-input").on("change",function(){
        imgPreview(this,"div.previewImages")
      })
  })
  
  function validateForm() {
  var firstInput = parseFloat(document.getElementById("lp").value)
  var secondInput = parseFloat(document.getElementById("sp").value)
  if (firstInput <= secondInput) {
    Swal.fire("Selling price must be less than listing price")
    return false;
  }
  return true;
}
  



    </script>

    <script>
      document.querySelector('form').addEventListener('submit', function (event) {
    const amountInput = document.querySelector('#amountInput');
    const selling_price = document.querySelector('#sp');
    const listing_price = document.querySelector('#lp');
    
    if (amountInput.value < 0 || selling_price.value<0 || listing_price < 0 ) {
      event.preventDefault();
      
      Swal.fire("The stock count and price's should not be negative")
    }
  });
    </script>