<%- include('../partials/admin_headside') %>

<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6  mx-4">
        <form action="/admin/edit_user/<%= user._id %>" method="post" enctype="multipart/form-data">
          <label for="name">Enter name</label>
          <input type="text" name="name" value="<%= user.name %>" class="form-control" required>
          <label for="email">Enter email</label>
          <input type="email" name="email" value="<%= user.email %>" class="form-control" required>
          <label for="phone">Enter Phone number</label>
          <input type="tel" name="phone" value="<%= user.phone %>" class="form-control" required>
          <button type="submit" class="btn btn-primary mt-4">Update user</button>
        </form>
      </div>
    </div>
  </div>
</section>