<%- include('../partials/user_header') %>

  <section class="head bg-dark" style="padding-top: 30px;">
    <div class="container p-5">
      <div class="head-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h2 style="color: white;">My Account</h2>
          <nav class="d-flex align-items-center">
            <a href="/account">Account &#8594</span></a>
            <a href="/account">My Account</a>
          </nav>
        </div>
      </div>
  </section>




  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-3 my-lg-0 my-md-1">
        <%- include('../partials/user_sidebar') %>
      </div>
      <div class="col-lg-9 my-lg-0 my-1">
        <% if (message) { %>
          <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong><%= message.message %> </strong>
          </div> 
          <% } %>
        <div id="main-content" class="bg-light border">
          <div class="d-flex flex-column">
            <div class="h5">Hello <%= userInfo.name %></div>
            <div>Logged in as: <%= userInfo.email %></div>
            <hr style="width: 100%;">
          </div>
         

          <div>
            <form action="/edit-info" method="post" enctype= "application/x-www-form-urlencoded">
              <label for="name">Edit your name</label>
              <input type="text" name="name" value="<%= userInfo.name %>" class="form-control" required pattern="[A-Z a-z]{3,22}" required>
              <label for="name">Edit your email</label>
              <input type="text" name="email" value="<%= userInfo.email %>" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              <label for="image">Edit phone number</label>
              <input type="text" name="phone" value="<%= userInfo.phone %>" class="form-control" required required pattern="[7896][0-9]{9}"> 
              <button type="submit" class="btn btn-primary mt-4" style="display: block;">Update Informations</button>
            </form>
          </div>
       
        </div>
      </div>
    </div>

  </div>

  <%- include('../partials/user_footer') %>