  

<%- include('../partials/user_header') %>



  <section class="head bg-dark" id="tophead" style=" padding-top: 1px;  padding-bottom: 10px;">
    <div class="container">
      <% if (message) { %>
        <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          <strong>
            <%= message.message %>
          </strong>
        </div>
        <% } %>
       
          <div class="row pt-1">
            <% banners.forEach((row,index) => { %>
              <% if(row.deleted == false){ %>
            <div class="col-lg-6" style="display: flex; flex-direction: column; justify-content: space-around;">
              <div style="width: 60%;">
                <h1 class="pt-4" style=" color: rgb(255, 255, 255);"><b><%= row.name %></b> </h1>
              </div>
              
              
              <p class="" style="color: rgba(139, 142, 153, 1); font-size: medium;"><%= row.description %></p>
              <div class="pb-4">
                <button class="btn btn-light  mb-3"  ><a href="/categories" class="text-dark" >SHOP NOW</a></button>
              </div>
            </div>
            <div class="col-lg-6">
              <img src="/uploads/<%= row.image %>" class="img-fluid" alt="homeimg">
            </div>
            <% } %>
            <% }) %>
          </div>
    </div>
  </section>


<section>
<div class="container-fluid my-5">
  <div class="row" id="cathome" style="display: flex; justify-content: center;">
    <% categories.forEach((row,index) => { %>
      <% if(row.deleted == false){ %>
       
    <div class="col-md-4 my-5" id="maincat"  >
      <a href="/categories?category=<%= row._id %>">
      <div>
        <h4 class="text-center text-dark fw-bold pt-5 text-capitalize"> <%= row.name %></h4>
        <p class="text-center text-dark fw-normal"><%= row.description %></p>
      </div>
    
      <img src="/uploads/<%= row.image %>" width="100%">
    </a>
    </div>
  
    <% } %>
    <% }) %>
    
  </div>
</div>

</section>


  <section>
    <div class="container my-5 p-4" style="border: 2px solid rgba(0, 0, 0, 0.331); ">
      
      <div class="row " style="display: flex; flex-wrap: wrap;   max-width: max-content;">
        <h1 class="text-center pt-3"><b>LATEST PRODUCTS</b></h1>
        <% products.forEach(product=> { %>
        <div class="col-lg-3" id="mainlist">
          
          <div class="pro-img">
           <a href="/product/<%= product._id %>"> <img src="/uploads/<%= product.images[0] %>" style="width: 100%;"></a>
          </div>
          <div class="pro-details text-center" style="display: grid; place-items: center;  ">
            <div style="height: 45px;">
              <h6><%= product.name %></h6>
            </div>
           
             <div class="rating">
                  <span><i class="fa fa-star" ></i></span> 
                  <span><i class="fa fa-star" ></i></span> 
                  <span><i class="fa fa-star" ></i></span> 
                  <span><i class="fa fa-star" ></i></span> 
                  <span><i class="fa fa-star" ></i></span> 
                 </div>
            <p style="font-weight: 600;"><span style="color: rgba(0, 0, 0, 0.505);  text-decoration: line-through; margin-right: 10px;">$<%= product.listing_price %></span><span>$<%= product.selling_price %></span></p>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>

 

 


<div class="container">
	<div class="row">
    <h5 class="text-center pt-4"><b>POPULAR BRANDS</b> </h5>
		<div class="col-md-12">
			<div class="lc-block">
				<div id="carouselLogos" class="carousel slide pt-5 pb-4 pointer-event" data-bs-ride="carousel">

					<div class="carousel-inner px-5">
						<div class="carousel-item active">
							<div class="row">
								<div class="col-6 col-lg-2 align-self-center">
									<img class="d-block w-100 px-3 mb-3" src="/images/b1.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="/images/b2.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="/images/b3.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="/images/b4.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="/images/b5.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="/images/b6.png" alt="">
								</div>
							</div>

						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-6 col-lg-2 align-self-center">
									<img class="d-block w-100 px-3 mb-3" src="/images/b7.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="/images/b8.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="/images/samsung.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="/images/msi.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="/images/b1.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="/images/b3.png" alt="">
								</div>
							</div>

						</div>

					</div>

				 

					<div class="w-100 px-3 text-center mt-4">
						<a class="carousel-control-prev position-relative d-inline me-4" href="#carouselLogos" data-bs-slide="prev">
							<svg width="2em" height="2em" viewBox="0 0 16 16" class="text-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
							</svg>
							<span class="visually-hidden">Previous</span>
						</a>
						<a class="carousel-control-next position-relative d-inline" href="#carouselLogos" data-bs-slide="next">
							<svg width="2em" height="2em" viewBox="0 0 16 16" class="text-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
							</svg>
							<span class="visually-hidden">Next</span>
						</a>





					</div>


				</div>
			</div> 
		</div> 
	</div>
</div>

  


  <%- include('../partials/user_footer') %>

   