<%- include('../partials/user_header') %>

  <section class="head bg-dark" style="padding-top: 30px;">
    <div class="container p-5">
      <div class="head-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h2 style="color: white;">View Order</h2>
          <nav class="d-flex align-items-center">
            <a href="/orders">Orders &#8594</span></a>
            <a href="">View Order</a>
          </nav>
        </div>
      </div>
  </section>




  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-3 my-lg-0 my-md-1">
        <%- include('../partials/user_sidebar') %>
      </div>
      <div class="col-lg-9 my-lg-0 my-1">
        <div id="main-content" class="bg-light border">


          <div class="row" id="ordered-items">
                <div class="border p-2 mt-2" id="">
                  <div id="">

                    <h5 class="text-secondary border-bottom py-2 mb-2">View Order</h5>

                     
                    <% orderInfo.forEach((prod)=> { %>
                      <% if(prod.order_status =="cancelled" ){ %>
                      <div class="card  bg-light my-2" style="border-radius: 0;" id=" item">
                        
                              <div class="bg-danger p-3 ">
                                <h5 class="text-white text-center text-uppercase m-3"> Order is cancelled</h5>
                              </div>
                              
                      </div>
                      <% } %>
                                <% }) %>
                      <div class="card p-3 bg-light my-2" style="border-radius: 0;" id=" item">
                         <h6 class="text-secondary border-bottom py-2 mb-2">Delivery Address</h6>
                         <% orderInfo.forEach((order) => { %>
                         <p ><%= order.address.name %> , <%= order.address.house %> <br> <%= order.address.city %> , <%= order.address.district %> <br> <%= order.address.state %> , <%= order.address.post %> , <%= order.address.pin  %></p>
                         <% }) %>
                      </div>
                      <div class="card p-3 bg-light my-2" style="border-radius: 0;" id=" item">
                        <h6 class="text-secondary border-bottom py-2 mb-2">Products</h6>
                        <div class="table-responsive">
                          <table class="table table-secondary table-striped my-2">
                             
                             
                            <tbody>
                              <% orderInfo[0].products.forEach((prod,index)=> { %>
                              <tr>
                                
                                <td class="text-center"><img style="height: 50px; width: 50px; box-shadow: none; border-radius: 0;" src="/uploads/<%= prod.item.images[0] %>" ></td>
                                <td class="text-center"><%= prod.item.name %></td>
                                <td class="text-center">$<%= prod.item.selling_price %> x </td>
                                <td class="text-center"><%= prod.quantity %></td>
                                <td class="text-center"> <b> $<%= prod.price %></b></td>
                              </tr>
                              <% }) %>
                            </tbody>
                  
                          </table>
                        </div>
                     </div>

                     <div class="card p-3 bg-light my-2" style="border-radius: 0;" id=" item">
                      <h6 class="text-secondary border-bottom py-2 mb-2">Bill Details</h6>
                      <div class="table-responsive"  >
                        <table class="table table-secondary table-striped my-2">
                          <% orderInfo.forEach((order)=> { %>
                          <tbody>
                           
                            <tr>
                              <td>Order ID</td>
                              <td><%= order._id %></td>
                              <td>Items</td>
                              <td><%= order.products.length %></td>
                            </tr>
                            <tr>
                              <td>Payment Status</td>
                              <td><%= order.payment.pay_status %></td>
                              <td>Sub Total</td>
                              <td>$<%= order.total %></td>
                            </tr>
                            <tr>
                              <td>Payment Method</td>
                              <td><%= order.payment.pay_method %></td>
                              <td>Discount(%)</td>
                              <td><%= order.coupon.discount %></td>
                            </tr>
                            <tr>
                              <td>Payment ID</td>
                              <td><%= order.payment.pay_id %></td>
                              <td>Discount amount</td>
                              <td><%= order.discount_amount  %></td>
                            </tr>
                            <tr>
                              <td>Coupon Code</td>
                              <td><%= order.coupon.code %></td>
                              <td>Total</td>
                              <td><b> $<%= order.grand_total %></b></td>
                            </tr>
                           
                          </tbody>
                           <% }) %>
                        </table>
                      </div>
                   
                   <% orderInfo.forEach((order) => { %>
                    <% if(order.order_status !="cancelled" && order.delivery_status.delivered.state != true ){ %>
                   <div class="card p-3 bg-light my-2" style="border-radius: 0;" id=" item">
                    <h6 class="text-secondary border-bottom py-2 mb-2">Cancel Order</h6>
                    
                      <p>You can cancel your order here. But you can't revert it</p>
                    <a href="/cancel-order/<%= order._id %>" ><button type="button btn-sm" class="btn btn-danger  " style="width: 90px;">Cancel</button></i></a>
                       
                 </div>
                 <% } %>
                    <% }) %>

                    </div>
                      

                  </div>



                </div>



          </div>



        </div>
      </div>

    </div>
  </div>


  <%- include('../partials/user_footer') %>