<%- include('../partials/user_header') %>

  <section class="head bg-dark">
    <div class="container p-5">
      <div class="head-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h2 style="color: white;">Categories</h2>
          <nav class="d-flex align-items-center">
            <a href="index.html">Shop &#8594</span></a>
            <a href="login.ejs">Categories</a>
          </nav>
        </div>
      </div>
  </section>

  <section>
    <div class="container mt-5">
      <div class="row">
        <% products.forEach(function(pro){%>
        <div class="col-lg-3">
          <div class="card" style="width: 18rem; border: none;">
            <img src="<%= pro.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= pro.price %></h5>
              <p class="card-text"><%= pro.name %></p>
              <a href="#" class="btn btn-primary"><%= pro.old_price %></a>
              <a href="#" class="btn btn-primary"><%= pro.old_price %></a>
            </div>
          </div>
        </div>
      <% }) %>
      </div>
    </div>
  </section>


  